*{
    background-color: rgb(32, 32, 32);
    color: white;
}
*::selection{
    background-color: lime;
    color: rgb(32, 32, 32);
}
b{
    color: lime;
    text-shadow: lime 1px 1px 2px;
    transition: 0.5s;
}
#📦 h1 {
    text-shadow: lime 2px 2px 4px;
}
#📦 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
#🧰 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#🛶{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#🛶 a.selected{
    color: lime;
    text-shadow: lime 2px 2px 4px;
}
#🛶 a:hover{
    text-shadow: lime 2px 2px 4px;
}
#❌{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.💪{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 680px;
}
.💪 a{
    text-align: center;
}
.💪 img{
    aspect-ratio: 1/0.8;
    object-fit: cover;
    object-position: top;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: lime 2px 2px 4px;
    max-width: 80%;
    transition: 0.5s;
}
.🤌{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: lime 2px 2px 4px;
    width: 130px;
}
.🤌 img{
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: lime 2px 2px 4px;
    height: 160px;
    transition: 0.5s;
}
.🤌 img:hover{
    transform: rotateY(15deg) rotateX(-10deg);
    box-shadow: lime 4px 4px 6px;
    cursor: pointer;
}